In [39]:
import pandas as pd

In [40]:
dataset=pd.read_csv("preprocessed_data.csv")
dataset

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
1,100145,0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100179,0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
3,100190,0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8597,456083,0,Cash loans,F,Y,Y,2,112500.0,361462.5,16051.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
8598,456084,0,Cash loans,F,Y,Y,1,99000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8599,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
8600,456195,0,Cash loans,F,Y,Y,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
8601,456226,0,Cash loans,F,Y,Y,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [41]:
dataset.isnull().sum()

SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [42]:
dataset.cov()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,1.065415e+10,382.708758,406.008641,-1.663540e+08,-6.606866e+08,-5.534797e+07,-7.439640e+08,-1.099187e+01,2.122699e+06,-2.423574e+06,...,228.821116,8.640304,-18.235500,9.685979,-85.694737,11.718942,-165.087517,-1161.415174,-551.258799,-3125.507864
TARGET,3.827088e+02,0.057416,-0.003713,-1.347389e+03,-1.630181e+03,-3.042067e+00,-2.258488e+03,-8.321220e-05,3.210347e+01,3.133206e+01,...,-0.000146,0.000081,-0.000064,-0.000014,0.000226,0.000335,0.000750,-0.001056,0.002354,0.014242
CNT_CHILDREN,4.060086e+02,-0.003713,0.600635,-2.528404e+03,-5.473323e+03,-2.621863e+02,-7.040803e+03,-3.257273e-04,4.439208e+02,2.350292e+01,...,-0.000793,-0.000234,-0.000165,-0.000140,-0.000596,-0.000201,-0.000169,-0.019352,-0.010188,-0.048333
AMT_INCOME_TOTAL,-1.663540e+08,-1347.389198,-2528.404201,1.999973e+10,2.291812e+10,9.753963e+08,2.153116e+10,4.885207e+02,-5.494402e+07,-8.301395e+06,...,583.537944,35.767693,14.782964,66.940492,291.231168,-22.201446,711.317434,3566.622262,566.009528,-1778.379130
AMT_CREDIT,-6.606866e+08,-1630.181091,-5473.323171,2.291812e+10,2.161430e+11,5.795978e+09,1.972402e+11,8.428285e+02,-3.002485e+08,-6.640156e+07,...,2838.343234,501.325775,1110.503626,119.753819,279.093991,844.719941,1254.571997,27661.191547,890.274952,-47182.748120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,1.171894e+01,0.000335,-0.000201,-2.220145e+01,8.447199e+02,2.223627e+01,8.065317e+02,-1.001231e-05,5.825890e+00,5.027399e+00,...,0.000057,-0.000003,-0.000006,-0.000001,0.001593,0.009150,0.004303,-0.000211,-0.000833,0.000507
AMT_REQ_CREDIT_BUREAU_WEEK,-1.650875e+02,0.000750,-0.000169,7.113174e+02,1.254572e+03,9.141185e+01,1.317916e+03,-2.560429e-07,2.265453e+00,2.013917e+00,...,-0.000158,-0.000023,-0.000041,-0.000009,0.000354,0.004303,0.043585,-0.002672,-0.005431,0.009120
AMT_REQ_CREDIT_BUREAU_MON,-1.161415e+03,-0.001056,-0.019352,3.566622e+03,2.766119e+04,4.493909e+02,2.406225e+04,1.395185e-03,-1.260297e+02,-3.101302e+01,...,-0.001015,-0.000098,-0.000154,-0.000086,0.001110,-0.000211,-0.002672,1.100435,-0.022107,-0.019843
AMT_REQ_CREDIT_BUREAU_QRT,-5.512588e+02,0.002354,-0.010188,5.660095e+02,8.902750e+02,1.642680e+02,1.134217e+03,-2.366126e-04,-2.796036e+01,3.127472e+01,...,-0.000371,-0.000150,-0.000270,-0.000060,0.000011,-0.000833,-0.005431,-0.022107,0.356129,0.093256
AMT_REQ_CREDIT_BUREAU_YEAR,-3.125508e+03,0.014242,-0.048333,-1.778379e+03,-4.718275e+04,-1.370202e+02,-4.660975e+04,-1.016035e-03,-2.710031e+02,-2.624654e+01,...,-0.008970,-0.000208,-0.000444,-0.000060,-0.001149,0.000507,0.009120,-0.019843,0.093256,3.086342

In [43]:
dataset.corr()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
SK_ID_CURR,1.000000,0.015474,0.005075,-0.011396,-0.013768,-0.032327,-0.016785,-0.006509,0.006310,-0.011304,...,0.022281,0.003473,-0.005464,0.006155,-0.010707,0.001187,-0.007661,-0.010726,-0.008949,-0.017236
TARGET,0.015474,1.000000,-0.019993,-0.039762,-0.014634,-0.000765,-0.021950,-0.021225,0.041108,0.062950,...,-0.006139,0.013976,-0.008259,-0.003892,0.012156,0.014616,0.015000,-0.004202,0.016465,0.033832
CNT_CHILDREN,0.005075,-0.019993,1.000000,-0.023069,-0.015191,-0.020395,-0.021157,-0.025688,0.175747,0.014600,...,-0.010280,-0.012527,-0.006602,-0.011857,-0.009919,-0.002712,-0.001043,-0.023803,-0.022028,-0.035499
AMT_INCOME_TOTAL,-0.011396,-0.039762,-0.023069,1.000000,0.348575,0.415807,0.354556,0.211133,-0.119206,-0.028260,...,0.041473,0.010493,0.003233,0.031045,0.026559,-0.001641,0.024093,0.024042,0.006707,-0.007158
AMT_CREDIT,-0.013768,-0.014634,-0.015191,0.348575,1.000000,0.751587,0.987994,0.110804,-0.198152,-0.068760,...,0.061362,0.044737,0.073881,0.016894,0.007742,0.018995,0.012926,0.056718,0.003209,-0.057768
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,0.001187,0.014616,-0.002712,-0.001641,0.018995,0.014015,0.019636,-0.006398,0.018687,0.025302,...,0.005988,-0.001495,-0.002006,-0.000945,0.214817,1.000000,0.215462,-0.002107,-0.014587,0.003018
AMT_REQ_CREDIT_BUREAU_WEEK,-0.007661,0.015000,-0.001043,0.024093,0.012926,0.026397,0.014701,-0.000075,0.003329,0.004644,...,-0.007608,-0.004512,-0.006055,-0.002853,0.021885,0.215462,1.000000,-0.012199,-0.043595,0.024866
AMT_REQ_CREDIT_BUREAU_MON,-0.010726,-0.004202,-0.023803,0.024042,0.056718,0.025826,0.053417,0.081290,-0.036862,-0.014233,...,-0.009728,-0.003885,-0.004528,-0.005364,0.013652,-0.002107,-0.012199,1.000000,-0.035314,-0.010767
AMT_REQ_CREDIT_BUREAU_QRT,-0.008949,0.016465,-0.022028,0.006707,0.003209,0.016595,0.004426,-0.024234,-0.014376,0.025230,...,-0.006256,-0.010430,-0.013997,-0.006595,0.000241,-0.014587,-0.043595,-0.035314,1.000000,0.088951
AMT_REQ_CREDIT_BUREAU_YEAR,-0.017236,0.033832,-0.035499,-0.007158,-0.057768,-0.004702,-0.061785,-0.035349,-0.047330,-0.007192,...,-0.051322,-0.004909,-0.007816,-0.002236,-0.008433,0.003018,0.024866,-0.010767,0.088951,1.000000

In [44]:
#variance inflation factor(VIF)
from statsmodels.stats.outliers_influence import variance_inflation_factor
def calc_vif(X):
    #claculating VIF
    vif=pd.DataFrame()
    vif["variable"]=X.columns
    vif["VIF"]=[variance_inflation_factor(X.values,i)for i in range(X.shape[1])]
    return (vif)

In [45]:
#!pip install statsmodels

Requirement already satisfied: statsmodels in c:\users\user\anaconda3\envs\aiml\lib\site-packages (0.13.5)
Requirement already satisfied: patsy>=0.5.2 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (22.0)
Requirement already satisfied: scipy>=1.3 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: pandas>=0.25 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (0.25.3)
Requirement already satisfied: numpy>=1.17 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from statsmodels) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from pandas>=0.25->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\user\anaconda3\envs\aiml\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [47]:
calc_vif(dataset[["AMT_INCOME_TOTAL","TARGET"]])

           variable       VIF
0  AMT_INCOME_TOTAL  1.036703
1            TARGET  1.036703

In [48]:
dataset[dataset["CODE_GENDER"]=="M"]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
3,100190,0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
5,100341,0,Cash loans,M,Y,Y,0,76500.0,545040.0,20677.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
6,100343,0,Cash loans,M,Y,Y,0,315000.0,90000.0,4504.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8585,455628,0,Cash loans,M,Y,Y,1,261000.0,714154.5,38871.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
8589,455687,0,Cash loans,M,Y,Y,0,112500.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
8591,455724,0,Cash loans,M,Y,Y,1,202500.0,1350000.0,39474.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8593,455875,0,Cash loans,M,Y,Y,0,180000.0,735579.0,40032.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
8596,455923,0,Cash loans,M,Y,N,0,157500.0,225000.0,15034.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
from scipy.stats import ttest_ind
#drop null values
dataset=dataset.dropna()
male=dataset[dataset["CODE_GENDER"]=="M"]["TARGET"]
female=dataset[dataset["CODE_GENDER"]=="F"]["TARGET"]
#print(male)
ttest_ind(male,female)

Ttest_indResult(statistic=3.071560910453999, pvalue=0.002136078503149578)

In [51]:
from scipy.stats import ttest_ind
#drop null values
dataset=dataset.dropna()
male=dataset[dataset["CODE_GENDER"]=="M"]["AMT_INCOME_TOTAL"]
female=dataset[dataset["CODE_GENDER"]=="F"]["AMT_INCOME_TOTAL"]
#print(male)
ttest_ind(male,female)

Ttest_indResult(statistic=9.774491475186364, pvalue=1.8958257274241107e-22)

In [53]:
from scipy.stats import ttest_ind
#drop null values
dataset=dataset.dropna()
male=dataset[dataset["CODE_GENDER"]=="M"]["TARGET"]
male1=dataset[dataset["CODE_GENDER"]=="F"]["AMT_INCOME_TOTAL"]
#print(male)
ttest_ind(male,male1)

Ttest_indResult(statistic=-106.7789197894265, pvalue=0.0)

In [54]:
import scipy.stats as stats
stats.f_oneway(dataset["AMT_INCOME_TOTAL"],dataset["AMT_CREDIT"],dataset["AMT_ANNUITY"])

F_onewayResult(statistic=12935.897446153398, pvalue=0.0)

In [56]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
# Two-way ANOVA
ano=ols("AMT_INCOME_TOTAL~TARGET+AMT_CREDIT",data=dataset).fit()
two=sm.stats.anova_lm(ano,type=2)

In [58]:
two

                df        sum_sq       mean_sq            F         PR(>F)
TARGET         1.0  2.719577e+11  2.719577e+11    15.496412   8.331383e-05
AMT_CREDIT     1.0  2.083568e+13  2.083568e+13  1187.237258  7.924236e-244
Residual    8599.0  1.509101e+14  1.754972e+10          NaN            NaN